.ScenarioCardContainer {
	width: 98%;
	margin: 3rem auto;
}

.ScenarioCardTitleContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.ScenarioCardTitleContainer h4 {
	font-size: 1.1rem;
	font-weight: 800;
	padding-left: 1rem;
	position: relative;
}
.ScenarioCardContainer.Negative .ScenarioCardTitleContainer h4::before {
	content: "";
	position: absolute;
	top: -0.4rem;
	left: 0;
	height: 2rem;
	width: 0.2rem;
	background: #d0021b;
}
.ScenarioCardContainer.Positive .ScenarioCardTitleContainer h4::before {
	content: "";
	position: absolute;
	top: -0.4rem;
	left: 0;
	height: 2rem;
	width: 0.2rem;
	background: #21d394;
}
.ScenarioCardContainer .ScenarioCardTitleContainer h4 span.Negative {
	color: #d0021b;
	margin-left: 1rem;
}
.ScenarioCardContainer.Positive .ScenarioCardTitleContainer h4 span.Positive {
	color: #21d394;
	margin-left: 1rem;
}
.ScenarioCardContainer.Positive .ScenarioCardTitleContainer h4 span.Neutral {
	color: #f5a623;
	margin-left: 1rem;
}

.ScenarioCardContainer .ScenarioCardStatus {
	margin-left: auto;
	font-size: 0.8rem;
	padding: 0.5rem 1rem;
	max-height: 1rem;
	color: #fff;
	font-weight: 600;
	border-radius: 5px;
	margin-top: 1rem;
}
.ScenarioCardContainer .ScenarioCardStatus.Negative {
	background-color: #d0021b;
}
.ScenarioCardContainer .ScenarioCardStatus.Positive {
	background-color: #21d394;
}
.ScenarioCardContainer .ScenarioCardStatus.Neutral {
	background-color: #f5a623;
}

.ScenarioCard {
	width: 100%;
	margin-top: 0rem;
	padding: 1rem 0;
	background-color: #fff;
	-webkit-box-shadow: 0px 2px 27px -22px rgba(1, 1, 1, 0.5);
	box-shadow: 0px 2px 27px -22px rgba(1, 1, 1, 0.5);
	border-radius: 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.ScenarioCard .Table {
	width: 40%;
	margin: 0.5rem auto 1rem 3rem;
}
.ScenarioCard .Table ul {
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
	list-style-type: none;
}
.ScenarioCard .Table ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	font-size: 0.9rem;
	padding: 1.2rem 0;
	border-bottom: 1px solid #eee;
}
.ScenarioCard .Table ul li .attribute {
	color: #9b9b9b;
	font-weight: 500;
}
.ScenarioCard .Table ul li .value {
	color: #4a4a4a;
	margin-left: auto;
	font-weight: 500;
}

.ScenarioCard .HighlightAndChart {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: left;
	margin: 0rem 0rem auto 5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.ScenarioCard .HighlightAndChart h4 {
	color: #9b9b9b;
	font-weight: 400;
	margin-bottom: 1rem;
}

.ScenarioCard .Highlights {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.ScenarioCard .Highlights .Item {
	width: 12rem;
	margin-right: 2rem;
}
.ScenarioCard .Highlights .Item.Second,
.ScenarioCard .Highlights .Item.Third {
	margin-left: 1rem;
}
.ScenarioCard .Highlights .Item.First,
.ScenarioCard .Highlights .Item.Second {
	border-right: 1px solid #eee;
}
.ScenarioCard .Highlights .Item h2 {
	margin-bottom: 0.5rem;
	font-size: 1.6rem;
}
.ScenarioCard .Highlights .Item.Negative h2 {
	color: #d0021b;
}
.ScenarioCard .Highlights .Item.Positive h2 {
	color: #21d394;
}
.ScenarioCard .Highlights .Item p {
	font-size: 0.9rem;
	margin-top: 0;
	color: #4a4a4a;
}

.ChartContainerLegend {
	margin-top: 0;
	color: #4a4a4a;
}

.ChartContainerLegend_Item {
	padding: 0.25rem 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.ChartContainerLegend_Color {
	height: 4px;
	min-width: 10px;
	background: #eee;
}

.ChartContainerLegend_Title {
	font-size: 0.8rem;
	padding-left: 0.6rem;
}
