.HeaderOptions{
  margin-left:auto;
  display:flex;
  flex-direction:row;
}
.HeaderOptions div{
  margin:1.3rem 1rem auto 1rem;
  color:#9B9B9B;
  font-size:0.9rem;
}
.HeaderOptions img.NotificationIcon{
  width:1.5rem;
  height:1.6rem;
  margin:1rem;
  cursor:pointer;
}
.HeaderOptions img.ProfileImage{
  width:2.3rem;
  height:2.3rem;
  border-radius:50%;
  margin-top:0.7rem;
  margin-left:1rem;
  cursor:pointer;
}
