.DropdownSelector{
  font-size:0.8rem;
  padding:0.5rem 2rem 0rem 1rem;
  background-color:#fff;
  border-radius:5px;
  color:#555;
  text-align:left;
  position:relative;
  cursor:pointer;
  height:1.6rem;
  user-select: none; 
}
.DropdownSelector::before{
  content:attr(data-label);
  position:absolute;
  top:-1.5rem;
  left:0;
  font-weight:500;
}
.DropdownSelector::after{
  content: "\221F ";
  position:absolute;
  top:0.2rem;
  right:1rem;
  transform:rotate(-45deg);
}
.DropdownSelector .OptionList{
  position:absolute;
  top:1.8rem;left:0; right:0;
  background-color:#fff;
  box-shadow:0 2px -20px -15px rgba(1,1,1,0.5);
  border:1px solid #eee;
}
.DropdownSelector .OptionList ul{
  padding:0; margin:0rem auto;
  width:100%;
  list-style-type:none;
}
.DropdownSelector .OptionList ul li{
  margin:0rem auto;
  padding:0.8rem 1rem;
  border-bottom:1px solid #eee;
}
.DropdownSelector .OptionList ul li:hover{
  background-color:#fafafa;
}
.DropdownSelector .OptionList.Hidden{
  display:none;
}
