.Scorecard{
  width:18rem;
  height:18rem;
  background-color:#fff;
  margin:auto;
  border-radius:6px;
  box-shadow: 0px 2px 27px -22px rgba(1,1,1,0.5);
  display:flex;
  flex-direction:column;
}
.Scorecard .Top{
  width:100%;
  padding:2rem 0;
  border-bottom:1px solid #eee;
}
.Scorecard .Top .ContentContainer{
  width:80%;
  margin:0 auto;
  display:flex;
  flex-direction:row;
}
.Scorecard .Top .ContentContainer .Content{
  text-align:left;
}
.Scorecard .Top .ContentContainer .Content h2{
  margin:0;
  font-size:1.8rem;
  font-weight:800;
}
.Scorecard .Top .ContentContainer .Content p{
  margin:0.8rem 0 0 0;
  font-weight:400;
  color:#4A4A4A;
  font-size:0.9rem;
}
.Scorecard .Top .ContentContainer img{
  width:2.5rem;
  height:2rem;
  margin-left:auto;
  margin-top:0.2rem;
}

.Scorecard .Bottom{
  width:100%;
  padding:2rem 0;
}
.Scorecard .Bottom .ContentContainer{
  width:75%;
  margin:0 auto;
  display:flex;
  flex-direction:row;
}
.Scorecard .Bottom .ContentContainer span{
  font-size:0.8rem;
  color:#9B9B9B;
  font-weight:500;
  margin:0.5rem 0;
}
.Scorecard .Bottom .ContentContainer .Variance.Positive{
  color:green;
}
.Scorecard .Bottom .ContentContainer .Variance.Negative{
  color:red;
}
