.PageContainer{
  width:calc(100% - 5.5rem);
  margin-left:5rem;
}
.PageWrapper{
  width:93%;
  max-width:82rem;
  margin:0 auto;
  min-height:10rem;
}

.header{
  width:100%;
  padding:0.8rem 0 0.5rem 0;
  border-bottom:1px solid #eee;
  display:flex;
  flex-direction:row;
}

.TitleAndFilterContainer{
  width:98%;
  margin:2rem auto;
  display:flex;
  flex-direction: row;
  padding:2rem 0rem;
}
.TitleAndFilterContainer .DropdownSelector_container{
  margin-left:auto;
  display:flex;
  flex-direction: row;
}
.TitleAndFilterContainer .DropdownSelector_container .DropdownSelector{
  margin:0 1rem;
}
.TitleAndFilterContainer .SettingsIcon{
  width:1.5rem;
  height:1.5rem;
  margin-left:2rem;
  margin-top:0.5rem;
}
.TitleAndFilterContainer .DownloadButton{
  padding:0.5rem 0.8rem;
  font-size:0.8rem;
  background-color:#444C5E;
  color:#fff;
  margin-left:1.5rem;
  border-radius:5px;
  display:flex;
  flex-direction: row;
  cursor:pointer;
}

.ScorecardsContainer{
  width:100%;
  margin:2rem auto;
  display:flex;
  flex-direction:row;
}
