.SearchbarContainer{
  width:30rem;
  padding:0.6rem 1rem;
  background:#fff;
  border-radius:5px;
  display:flex;
  flex-direction:row;
  height:2rem;
}
.SearchbarContainer input{
  flex-grow: 1;
  font-size:0.9rem;
  outline:none;
  border:none;
  height:1.8rem;
}
.SearchbarContainer img{
  width:1.2rem;
  height:1.2rem;
  margin-right:1rem;
  margin-top:0.4rem;
}
