.Sidebar{
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  width:5rem;
  background-color:#444C5E;
}

.LogoContainer{
  width:100%;
  height:5rem;
  background-color:#fff;
  text-align:center;
}
.LogoContainer img{
  width:50%;
  margin-top:1.5rem;
}

.NavigationIcon{
  margin:2rem auto;
  text-align:center;
  cursor:pointer;
  padding: 1rem 0;
  transition:0.3s ease;
  position:relative;
}
.NavigationIcon:hover{
  background:#585F6F;
  transition:0.3s ease;
}
.NavigationIcon:hover::after{
  content: attr(data-name);
  position:absolute;
  top:1rem; left:6rem;
  color:#fff;
  width:5rem;
  background-color:#444C5E;
  padding:0.5rem;
  border-radius:3px;
  font-size:0.8rem;
}

.NavPointer{
  position:absolute;
  top:1rem;
  right:0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #F7F7F9;
}
.NavPointer.Hidden{
  display:none;
}
